<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://10.1.110.65:8080/qrpic/SmartCinema_iOS_Icon/icon-512*512.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://10.1.110.65:8080/qrpic/SmartCinema_iOS_Icon/icon-57*57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.1.110.65:8080/download/ios/projectIpa/SmartCinema_iOS_2019-02-23-00-04.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.SmartCinemaProfession.www</string>
				<key>bundle-version</key>
				<string>1.2.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>V发行</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
